---
layout: default
title: Hopton Community Hub
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Hopton Community Hub</h1>
				<p class="editable">We are a charitable incorporated organisation (CIO) established to run the Hopton Village Hall and to promote its use for the benefit of the inhabitants of Hopton and Coton Parish and surrounding area.</p>
				<div class="button">
					<a href="#bookings">Bookings</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/Hopton_Village_Hall_-_geograph.org.uk_-_266046.jpg" alt="Hopton Village Hall">
		</div>
	</div>
</header>

<!-- <div class="container">
	<h2 class="editable" style="text-align: center;">Why sheep need the vote</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">What the charity does</h3>
			<p class="editable">
			
<ul>
  <li>General Charitable Purposes</li>
  <li>Disability</li>
  <li>Amateur Sport</li>
  <li>Recreation</li>
</ul>




			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Economy</h3>
			<p class="editable">Sheep are the backbone of the economy yet they receive no compensation.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Work Conditions</h3>
			<p class="editable">Sheep are forced to eat grass every day of their life. How about some of variety?</p>
		</li>
	</ul>
</div> -->

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/IMG_4750.png" alt="Facilities">
		</div>
		<div>
			<h2 class="editable">Charitable Objectives</h2>

			<p class="editable">The objectives of the CIO are to establish and run a village hall and to promote its use for the benefit of the inhabitants of Hopton and Coton Parish and surrounding area, without distinction of sex, sexual orientation, age, disability, nationality, race or political, religious or other opinions, the provision of facilities for recreation or other leisure time occupation of individuals who have need of such facilities by reason of their youth, age, infirmity or disablement, financial hardship or social and economic circumstances or for the public at large in the interests of social welfare and with the object of improving the conditions of life of the said inhabitants.</p>
		</div>
	</div>
</div>

<!-- <div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">The ultimate measure of a sheep is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Wooly McBaa</strong></span>
			</p>
		</div>
	</blockquote>
</div> -->

<hr>

<div class="container">
<div class="posts">
	<div class="post">
		<div class="image" style="background-image: url()"></div>
		<div class="post-content">
			<h3>Paul Lamond</h3>
			Chair
		</div>
	</div>
	<div class="post">
		<div class="image" style="background-image: url()"></div>
		<div class="post-content">
			<h3>Chris Ramster</h3>
			Vice Chair
		</div>
	</div>
	<div class="post">
		<div class="image" style="background-image: url()"></div>
		<div class="post-content">
			<h3>Pauline Blackmore</h3>
			Trustee
		</div>
	</div>
	<div class="post">
		<div class="image" style="background-image: url()"></div>
		<div class="post-content">
			<h3>Richard Bennett</h3>
			Trustee
		</div>
	</div>
		
</div>
</div>



<!-- <div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress in our fight for the sheep vote.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div> -->

<div class="container" id="bookings">
	<h2 class="editable">Bookings</h2>
<!-- 	<div class="donate">
		{{ site.donation_embed }}
	</div> -->
	<p>The village hall and football field are available for a variety of functions including clubs, meetings, parties and sporting events. To make a booking go to our <a href="https://app.whatspot.app/external-reservations/abaec99321f641608b563056a3cb0ba6">bookings page</a>.</p>

<p>If you would like any more information, please contact <a href="mailto:hoptonvhbookings@gmail.com">hoptonvhbookings@gmail.com</a></p>

</div>

<!-- <div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div> -->
